/* body{
    background-color:blue ;

} */
body {
  font-family: "Lora", serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.par {
  color: tomato;
}

/*  /////////////////////////////////// //////////////////////////////////////////      */

/*border 
width
color
style
*/

.test {
  /* background-color: blue; */
  width: 300px;
  height: 300px;
  text-align: center;
  /* border-width: 10px;
    border-style: dashed;
    border-color: red; */
  border: 10px solid green;
  /* border-bottom: 10px dotted green; */
  /* border-top: 10px dotted green;
    border-right: 10px dotted green;
    border-left: 10px dotted green; */
  /* border-radius: 50%; */
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

/*  //////////////////////////////////////////////////////////////////////////////////////////////// ***/

/*  FONTS
1- font-size  [ 16px = 100%]    default =>16px
2-font-weight 100  900           default =>400
3-font-style   normal italic
3-font-family
*/
.tes-f {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.font-family {
  font-family: "Playwrite NZ Guides", cursive;
}

/*  //////////////////////////////////////////////////////////////////////////////////////////////// ***/
/*
Spacing  
margin    top   right   bottom   left 
          auto

padding
*/

.margin {
  /* width: 200px;
  height: 200px;
  background-color: tomato; */
  /* margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px; */
  /* margin: 100px auto; */
  /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; */
  /* padding: 10px;
  border: 5px solid red;
  text-align: center; */
}







/*  //////////////////////////////////////////////////////////////////////////////////////////////// ***/
/*
background-img
background-size: 100% 100%;   or cover
background-position: center center;

small image
background-repeat: repeat;
background-position: center center;
*/

.margin {
width: 700px;
height: 1200px;
border: 5px solid teal;
background-image: url(images/bgs.jpg); 
 background-size:cover;
background-position: center center;
background-attachment: fixed;

color: white;

/* background-image: url(images/taxi.png),url(images/images.jpg);
background-repeat: repeat-y , repeat-x;
background-position: center center , 10px 10px; */

}









/*  //////////////////////////////////////////////////////////////////////////////////////////////// ***/
/*
Float   left right
*/


.meals{
/* background-color: blue;  */
width: 90%;
margin: 100px auto;
}
.meal{
 
  width: 25%;
  text-align: center;
  /* display: inline-block; */
  float: left;
  padding: 10px;
  /* margin: 10px; */
  /* border: 5px solid green; */

}

.inner{
   background-color: tomato;
   padding: 10px;

}
.meal img{
  border-radius: 50%;
}
.clr{
  clear: both;
}
.meal .line{
  width: 30%;
  height: 5px;
  background-color: grey;
  margin: 15px auto;
  
}
.meal p{
  color: gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/* .testM{
  background-color: greenyellow;
  width: 200px;
  height: 200px;
  margin:  100px;
  padding: 15px;
}
.testM p{
  background-color: blue;
} */


header{
  height: 100vh;
  background-image: url(images/bgs.jpg);
  background-size: cover;
  background-position: center center;
}



/*  //////////////////////////////////////////////////////////////////////////////////////////////// ***/
/*
RWD
   600  >xsm
 600   >   sm  > 768
768 >  md  >992 
992 > lg  >1200
       xlg >1200
*/

@media screen  and (min-width:1200px){
    .meal{
    width: 25%;
  }
.meal img{
  width: 80%;
}

}
@media screen  and (max-width:1199px) and (min-width:992px){
    .meal{
    width: 25%;
  }
.meal img{
  width: 80%;
}

}

@media screen  and (max-width:991px) and (min-width:768px){
    .meal{
    width: 50%;
  }

.meal img{
  width: 80%;
}
}

@media screen  and (max-width:767px) and (min-width:600px){
    .meal{
    width: 100%;
  }
.meal img{
  width: 80%;
}

}
@media screen  and (max-width:599px){
    .meal{
    width: 100%;
  }
.meal img{
  width: 80%;
}

}


@media screen and (max-width:800px){
/* 
  body{
    background-color: aqua;
  } */

  /* .meal{
    width: 50%;
  } */


}
@media screen and (max-width:650px) {
    /* .meal{
    width: 100%;
  } */
}
