* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  /* text-align: center;
  padding: 15px;
  position: relative;
  color: blue; */
}
h1::after {
  /* content: "";
  background-color: blue;
  width: 40%;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 15px; */
}
h1::before {
  /* content: "";
  background-color: blue;
  width: 40%;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 15px; */
}
h2 {
  /* text-align: center; */
  /* background-color: blue; */
  /* border: 5px solid teal;
  width: 15%;
  padding: 30px;
  position: relative; */
}
/* h2::after {
  content: "";
  width: 40px;
  height: 35px;
  background-color: white;
  position: absolute;
  top: 90%;
  left: 25px;
}
h2::before {
  content: "";
  width: 8px;
  height: 35px;
  background-color: teal;
  position: absolute;
  top: 90%;
  left: 35px;
  z-index: 999;
} */

/*/////////////////////////////////////////////////////////////*/
/*icons*/
.icons {
  margin: 50px;
}
i {
  /* font-size: 25px; */
  color: red;
}

/*/////////////////////////////////////////////////////////////*/

/*keyframes*/
.anim {
  width: 200px;
  height: 200px;
  background-color: black;
  animation-name: kanba;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes kanba {
  0% {
    background-color: blue;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}

header {
  background-image: url(../images/bgs.jpg);
  background-size: 100% 100%;
  background-position: center center;
  height: 100vh;
  animation-name: slider;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slider {
  0% {
    background-image: url(../images/bgs.jpg);  width: 100% ;  height: 100vh;
  }
  25% {
    background-image: url(../images/shutterstock_277750193.jpg); width: 0;  height: 0;
  }
  50% {
    background-image: url(../images/bg2.jpg);  width: 100% ;  height: 100vh;
  }
  75% {
    background-image: url(../images/business-2.jpg);  width: 0;  height: 0;
  }
  100% {
    background-image: url(../images/bg.jpg);  width: 100% ;  height: 100vh;
  }
}



.taxi{
/* margin-left: 600px; */
animation-name: move;
animation-duration: 5s;
position: relative;
}
@keyframes moveTaxi {
  0%{ left: 0; top: 0; transform: rotateY(180deg);}
  50%{ left: 700px; top: 0; transform: rotateY(180deg);}
  51%{left: 700px; top: 0; transform: rotateY(360deg);}
  100%{left: 0; top: 0; transform: rotateY(360deg);}
}
@keyframes move{
  0%{transform: translateX(0) rotateY(180deg);}
  50%{transform: translateX(700px) rotateY(180deg);}
  51%{transform: translateX(700px) rotateY(360deg);}
  100%{transform: translateX(0) rotateY(360deg);}
}

h1{
  text-align: center;
  padding: 20px;
}
h1::after{
  content: "|";
  animation-name: typing;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes typing {
  0%{ content: "|D";}
  2%{ content: "|De";}
  4%{ content: "|Des";}
  6%{ content: "|Desi";}
  8%{ content: "|Desig";}
  10%{ content: "|Design";}
  12%{ content: "|Desig";}
  14%{ content: "|Desi";}
  16%{ content: "|De";}
  18%{ content: "|D";}
  20%{ content: "|";}
  22%{ content: "|D";}
  22%{ content: "|De";}
  22%{ content: "|Dv";}
}







/*/////////////////////////////////////////////////////////////////////////*/
/*
display:inline-block 
float 
flex-box
parent 
  flex-wrap: nowrap;
   flex-direction:row
     flex-flow: row wrap ;
      justify-content: center;  x
      align-items: center;      y

child
*/

.meals{
  margin: 20px;
  background-color: bisque;
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  flex-flow: row wrap ;
  justify-content: center;  /*X*/
  align-items: center;     /*Y*/
}
.meal{
  background-color: rebeccapurple;
  width: 33.3%;

  text-align: center;
}
.meal img{
  width: 90%;
}



nav{
  background-color: gray;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
ul li{
  padding: 15px;
  
}

@media  (max-width:800px){
  ul{
flex-direction: column;
  }
  ul li{
    border-bottom: 3px solid gold;
    color: green;
    font-size: 25px;
    text-align: center;
  }
}



/*flex-grow
2+1+2 =5      500/5  =>100


flex-shrink  1+1+1+1+1=>5   500/5=>100  
*/
.test{
  background-color: aquamarine;
  height: 80vh;
  width: 500px;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-content: flex-end; */  
}
.one{
  background-color: red;
  height: 50px;

    /* width: 100px;  300  => 200+100 */
  /* flex-grow: 2;  2 *100 =>200    grow */


  width: 200px;   /*100*/
  flex-shrink: 1;  /*100  =>  200-100 =>100*/
  order: 0;

}
.two{
  background-color: rgb(0, 81, 255);
  width: 200px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 2; /*2*62.5  125-200*/
  order: 1;
  
}
.three{
  background-color: rgb(129, 7, 103);
  height: 50px;
   /* width: 100px;   200 */
  /* flex-grow: 1;  1 *100 =>100  grow */

  width: 200px;
  flex-shrink: 1;
  order: 4;

  
}
.four{
  background-color: rgb(51, 255, 0);
  width: 200px;
  height: 50px;
  flex-grow: 0;
  flex-shrink: 1;
  order: 0;
  
}
.five{
    background-color: rgb(217, 255, 0);
  height: 50px;


 /* width: 100px;    300 */
  /* flex-grow: 2;  2*100=>200  grow*/


  width: 200px;
  flex-shrink: 3;
  order: -1;

}